<h1> My Calendars </h1>
<ul>
<% @calendar_links.each do |calendar_link| %>
  <li><%= link_to calendar_link[:name], calendar_path(1, :url => calendar_link[:url]) %></li>
<% end %>
</ul>

<h1>Calendars Atom feed</h1>
<pre><%= h(@calendars_atom) %></pre>
