<h1> My Calendars </h1>
<% @calendar_links.each do |calendar_link| %>
  <%= link_to calendar_link[:name], calendar_path(1) %>
<% end %>

<h1>Calendars Atom feed</h1>
<pre><%= h(@calendars_atom) %></pre>
